<ion-header>

  <ion-navbar>
    <ion-title>购物列表</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let itemss of fShopList;let i =index">
    <ion-card>
      <div class="card-bar">
        <div class="bar-padding">
          <span>下单时间:{{itemss.created_at}}</span>
        </div>
      </div>
      <ion-list class="content-mg">
          <ion-item *ngFor="let items of itemss.shoplist;let i =index" class="botLine">
              <ion-thumbnail item-start>
                <img src={{items.mainpic[0]}} alt="">
              </ion-thumbnail>
              <div style="-webkit-line-clamp: 2;
              -webkit-box-orient: vertical;overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;">
                <p> {{items.name}} </p>
                <p class="gray"> {{items.params}}</p>
              </div>
              <button ion-button clear item-end class="price"><p>¥{{items.prices}}</p></button>
              <button ion-button clear item-end class="num">
                <span>数量：{{items.num}}</span>
            </button>
          </ion-item>
      </ion-list>


      <div class="card-bar">
        <div class="bar-padding">
          <span>总价：</span><span class="price-num">{{itemss.totalprice}}</span>
        </div>
      </div>

    </ion-card>

  </div>
  <!-- <div class="card-bar">
        <div class="bar-padding">
          <span>下单时间:{{itemss.created_at}}</span>
        </div>
      </div>

      <div class="content-mg">

        <div *ngFor="let items of itemss.shoplist;let i =index" class="back">
          <div>{{items.name}}</div>
          <div>
            <span *ngFor="let item of items.params;" class="params">{{item}} | </span>
          </div>
          <div>
            <span>¥{{items.prices}} x {{items.num}}台</span>
          </div>
        </div>

      </div>

      <div class="card-bar">
        <div class="bar-padding">
          <span>总价：</span><span class="price-num">{{itemss.totalprice}}</span>
        </div>
      </div>
     -->

  <!-- <ion-list>
      <ion-item *ngFor="let items of shopCart;let i =index">
          <ion-thumbnail item-start >
              <img src={{items.mainpic[0]}} alt="">
          </ion-thumbnail>
          <div style="-webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;">
              <p style="font-size:1.5rem"> {{items.name}} </p>
              <p class="gray"> {{items.params}}</p>
          </div>
          <button ion-button clear item-end class="price"><p>¥{{items.prices}}</p></button>
          <button ion-button clear item-end class="trash" (click)='deleteProduct(i)'><ion-icon name="md-trash"></ion-icon></button>
          <button ion-button clear item-end class="num">
              <p>数量:</p>
              <input type="number" [(ngModel)]=shopCart[i].num (change)='valueDefine($event,i)'>
          </button>
      </ion-item>
  </ion-list> -->

</ion-content>